<div style="display: flex; flex-direction: row;">
  <div style="flex-direction: column;">
    <mat-card style="width: 300px;">
      <mat-card-header>
        <mat-card-title>Pets</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="list-group" *ngIf="pets" style="text-align: left;">
          <ul *ngFor="let p of pets" class="list-group-item" role="listitem">
            <h3>{{p.name}}</h3>
            <li>{{p.species}}</li>
            <li>{{p.age}} years old</li>
            <li>{{p.weight}} pounds</li>
          </ul>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Pet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #petCreateForm="ngForm" (ngSubmit)="createPet(petCreateForm.value)">
          <input type="text" name="name" placeholder="Name" ngModel>
          <br />
          <input type="text" name="species" placeholder="Species" ngModel>
          <br />
          <input type="text" name="age" placeholder="Age" ngModel>
          <br />
          <input type="text" name="weight" placeholder="Weight" ngModel>
          <br />
          <button type="submit" value="submit">Submit</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Update A Pet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #petUpdateForm="ngForm" (ngSubmit)="updatePet(petUpdateForm.value)">
          <input type="text" name="id" placeholder="ID" ngModel>
          <br />
          <input type="text" name="name" placeholder="Name" ngModel>
          <br />
          <input type="text" name="species" placeholder="Species" ngModel>
          <br />
          <input type="text" name="age" placeholder="Age" ngModel>
          <br />
          <input type="text" name="weight" placeholder="Weight" ngModel>
          <br />
          <button type="submit" value="submit">Submit</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Remove Pet
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #petDeleteForm="ngForm" (ngSubmit)="deletePet(petDeleteForm.value)">
          <input type="text" name="id" placeholder="ID" ngModel>
          <br />
          <input type="submit" value="submit">
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div style="flex-direction: column;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Friends</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="friends | async as friends_list">
          <ul class="list-group" *ngIf="friends_list.length > 0">
            <li *ngFor="let friend of friends_list">
              {{friend[0].name}}
            </li>
          </ul>
        </ng-container>
      </mat-card-content>
    </mat-card>    
  </div>

  <div style="flex-direction: column;">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Clubs</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="clubs | async as clubs_list">
          <ul class="list-group" *ngIf="clubs_list.length > 0">
            <div *ngFor="let club of clubs_list">
              <p style = "text-align: left"> {{club.name}} <button name="leave-button" type="button" value="club" (click)= "leaveClub(club)" style ="position: absolute; right: 1em">Leave</button>
              <br>
              <br>
            </div>
          </ul>
        </ng-container>
      </mat-card-content>
      <button type="button" (click)="searchClub()" class="leave-button" >Find clubs!</button>
    </mat-card>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            New Club
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #clubCreateForm="ngForm" (ngSubmit)="createClub(clubCreateForm.value)">
          <input type="text" name="name" placeholder="Name" ngModel>
          <br />
          <input type="text" name="species" placeholder="Species" ngModel>
          <br />
          <button type="submit" value="submit">Submit</button>
        </form>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Update A Club
          </mat-panel-title>
        </mat-expansion-panel-header>
        <form #clubUpdateForm="ngForm" (ngSubmit)="updateClub(clubUpdateForm.value)">
          <input type="text" name="id" placeholder="ID" ngModel>
          <br />
          <input type="text" name="name" placeholder="Name" ngModel>
          <br />
          <input type="text" name="species" placeholder="Species" ngModel>
          <br />
          <button type="submit" value="submit">Submit</button>
        </form>
      </mat-expansion-panel>      
    </mat-accordion>      
  </div>
  
</div>


