<div style="display: flex; flex-direction: row;">
  <div style="flex-direction: column;">
    <mat-card style="width: 300px;">
      <mat-card-header>
        <mat-card-title *ngIf="pet">{{pet.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="left-align" *ngIf="pet">
          <li>{{pet.species}}</li>
          <li>{{pet.age}} years old</li>
          <li>{{pet.weight}} pounds</li>
          <p *ngIf="pet.owner_id===currentUserID">
            <button [matMenuTriggerFor]="editSelection" class="edit-button">
              Edit
            </button>
            <mat-menu #editSelection="matMenu">
              <p class="left-align" style="padding: 10px;">What would you like to do with this pet?</p>
              <br>
              <button (click)="editPet()">Edit Details</button>
              <br>
              <button (click)="deletePet()">Delete Pet</button>
            </mat-menu>
          </p>
        </ul>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 300px;">
      <mat-card-header>
        <mat-card-title>Treats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="left-align" *ngIf="treats">
          <ul *ngFor="let t of treats" class="list-group-item" role="listitem">
            <li>{{t.name}} by {{t.manufacturer}}</li>
          </ul>
          <p>
            <button [matMenuTriggerFor]="treatSelection" class="treat-button">
              Add treats
            </button>
            <mat-menu #treatSelection="matMenu">
              <p style="padding: 10px;">Which treat would you like to add?</p>
              <button mat-menu-item *ngFor='let t of allTreats' (click)="addTreat(t.id)">
                <h4>{{t.name}}</h4><br><p>by {{t.manufacturer}}</p>
              </button>
            </mat-menu>
          </p>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
