<div style="display: flex; flex-direction: row;">
  <div style="flex-direction: column;">
    <mat-card style="width: 300px;">
      <mat-card-header>
        <mat-card-title *ngIf="pet">{{pet.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="left-align" *ngIf="pet">
          <li>{{pet.species}}</li>
          <li>{{pet.age}} years old</li>
          <li>{{pet.weight}} pounds</li>
          <div *ngIf="pet.owner_id===currentUserID" style="padding: 10px;">
            <button [matMenuTriggerFor]="editSelection">Edit</button>
            <mat-menu #editSelection="matMenu">
              <p class="left-align" style="padding: 10px;">What would you like to do with this pet?</p>
              <div style="padding: 10px">
                <button (click)="editing=true" style="margin: 4px 2px;">Edit Details</button>
                <button (click)="deletePet()" style="margin: 4px 2px;">Delete Pet</button>
              </div>
            </mat-menu>
          </div>
          <div *ngIf="pet.owner_id!==currentUserID" style="padding: 10px;">
            <button [matMenuTriggerFor]="petSelection" style="margin: 4px 2px;">Follow</button>
            <mat-menu #petSelection="matMenu">
              <p style="padding: 10px;">Which pet would you like to add this friend to?</p>
              <button mat-menu-item [disabled]="currentPet.isDisabled" *ngFor='let currentPet of currentUserPets'
                (click)="onConnect(currentPet, pet)">{{currentPet.name}}</button>
            </mat-menu>
            <button [matMenuTriggerFor]="petSelectionUnfollow" style="margin: 4px 2px;">Unfollow</button>
            <mat-menu #petSelectionUnfollow="matMenu">
              <p style="padding: 10px;">Which pet would you like to unfollow this page?</p>
              <button mat-menu-item [disabled]="!currentPet.isDisabled" *ngFor='let currentPet of currentUserPets'
                (click)="onDisconnect(currentPet, pet)">{{currentPet.name}}</button>
            </mat-menu>
          </div>
        </ul>
        <form *ngIf="editing" #petUpdateForm="ngForm">
          <input type="text" name="name" placeholder="Name" ngModel>
          <br />
          <input type="text" name="species" placeholder="Species" ngModel>
          <br />
          <input type="text" name="age" placeholder="Age" ngModel>
          <br />
          <input type="text" name="weight" placeholder="Weight (in pounds)" ngModel>
          <br />
          <button (click)="editPet(petUpdateForm.value)" style="margin: 4px 2px;">Submit</button>
          <button (click)="editing=false" style="margin: 4px 2px;">Cancel</button>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card style="width: 300px;">
      <mat-card-header>
        <mat-card-title>Treats</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <ul class="left-align" *ngIf="treats">
          <ul *ngFor="let t of treats" class="list-group-item" role="listitem">
            <li>{{t.name}} by {{t.manufacturer}}</li>
          </ul>
          <p *ngIf="pet.owner_id===currentUserID">
            <button [matMenuTriggerFor]="treatSelection" class="treat-button">
              Add treats
            </button>
            <mat-menu #treatSelection="matMenu">
              <p style="padding: 10px;">Which treat would you like to add?</p>
              <button mat-menu-item *ngFor='let t of allTreats' (click)="addTreat(t.id)">
                <h4>{{t.name}}</h4><br><p>by {{t.manufacturer}}</p>
              </button>
            </mat-menu>
          </p>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
