/* Global Styles */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/cdk/overlay-prebuilt.css';

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

router-outlet+* {
  padding: 0 16px;
}

#site-title {
  font-size: 28px;
  font-weight: lighter;
  color: white;
  margin: 0;
  text-align: left;
}

/* Text */

h1 {
  font-size: 32px;
  font-weight: lighter;
  text-align: center;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
}

h3 {
  padding-right: 10px;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: #3f51b5;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin: 16px;
  border: 1px solid #bdbdbd;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
}

/* Unordered List */

ul {
  padding-inline-start: 30px;
  padding-inline-end: 10px;
}

/* Table */

table {
  width: 100%;
}

/* Button */

.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3f51b5;
  color: white;
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.button-center {
  margin: 5% auto 0;
  display: flex;
}

.mat-card {
  text-align: -webkit-center;
  margin: 20px;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

app-dashboard,
app-toolbar,
app-search-bar,
app-petbook,
app-login,
app-registration {
  width: var(--content-width);
  min-height: fit-content;
  position: relative;
  margin: 5% auto 0;
}

app-toolbar {
  margin: 0 auto 0;
  width: 100%;
}

app-login {
  margin: 0 auto 0;
  min-height: fit-content;
  position: relative;
  width: 100%;
  padding: 25px;
  background: url(./assets/kitten-laying.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

app-search-bar {
  margin: 0 auto 0;
  min-height: fit-content;
  position: relative;
  width: 100%;
  padding: 25px;
  background: url(./assets/dog-face.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

app-dashboard {
  margin: 0 auto 0;
  min-height: fit-content;
  position: relative;
  width: 100%;
  padding: 25px;
  background: url(./assets/leaves.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.connect-button {
  position: absolute;
  right: 1em
}

.left-align {
  text-align: left;
}

.login-page {
  width: var(--content-width);
  max-width: 350px;
  margin: 5% auto 0;
}

.search-page {
  width: var(--content-width);
  max-width: 350px;
  margin: 5% auto 0;
}

.dashboard {
  display: flex;
}

.center-list {
  -webkit-padding-start: 10px;
  padding-inline-start: 10px;
  -webkit-padding-end: 10px;
  padding-inline-end: 10px;
}

.is-aligned {
  align-items: center;
  padding: 8px 16px;
}